{% extends "layout.html" %}

{% block article_body %}

{{ data.body.intro | safe }}

<div id="annotation-wrapper">
{% for annotation in data.annotations %}
<div class="annotation-container">
	<p class="lyric-quote">
		{% if annotation.audiourl %}
		<span class="g-audio">{{ annotation.lyric }}<audio controls=""><source src="{{ annotation.audiourl }}" type="audio/mpeg"></source></audio></span>
		{% else %}
		{{ annotation.lyric }}
		{% endif %}
	</p>

	{{ annotation.annotation | md }}
</div>
{% endfor %}
</div>

{{ data.body.outro | safe }}

{% endblock %}
