{% extends "layout.html" %}

{% block article_body %}

<div id="wrapper">
  <span class="g-audio g-audio--block">Listen to the full song: The American Dream<img src="./images/shkreli-cutout-glow2.png" alt="" /><audio controls=""><source src="https://ig.ft.com/audio/martin-shkreli-pharma-bro-musical/americandream.mp3" type="audio/mpeg"></source></audio></span>
</div>

<div class="o-grid-container">
  <div class="o-grid-row">
    <div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
      <div>
        {{ data.body.intro | safe }}
      </div>
    </div>
  </div>
</div>

<div id="annotation-wrapper">
  <div class="annotation-separator"></div>
  {% for annotation in data.annotations %}
  <div class="annotation-container {% if annotation.audiourl == null %}annotation-container--noaudio{% endif %}">
    <p class="lyric-quote">
      {% if annotation.audiourl %}
      <span class="g-audio">{{ annotation.lyric }}<audio controls=""><source src="{{ annotation.audiourl }}" type="audio/mpeg"></source></audio></span>
      {% else %}
      {{ annotation.lyric }}
      {% endif %}
    </p>

    {{ annotation.annotation | md }}
  </div>
  <div class="annotation-separator"></div>
  {% endfor %}
</div>

<div class="o-grid-container">
  <div class="o-grid-row">
    <div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
      <div>
        {{ data.body.outro | safe }}
      </div>
    </div>
  </div>
</div>

{% endblock %}
