@import 'o-colors/main';
@import 'o-grid/main';
@import 'components/core/main';

@function getColor($args...) {
  @return oColorsGetPaletteColor($args...);
}

/* safari and chrome */
@-webkit-keyframes wiggle {
	0% {-webkit-transform:rotate(5deg);}
	50% {-webkit-transform:rotate(-5deg);}
	100% {-webkit-transform:rotate(5deg);}
}

/* firefox */
@-moz-keyframes wiggle {
	0% {-moz-transform:rotate(5deg);}
	50% {-moz-transform:rotate(-5deg);}
	100% {-moz-transform:rotate(5deg);}
}

/* anyone brave enough to implement the ideal method */
@keyframes wiggle {
	0% {transform:rotate(5deg);}
	50% {transform:rotate(-5deg);}
	100% {transform:rotate(5deg);}
}

.g-audio.g-audio--initialized .g-audio--playbutton:before,
.g-audio.g-audio--initialized.pause .g-audio--playbutton:before {
  margin-top: 0;
  margin-bottom: 0.3em;
}

.g-audio.g-audio--initialized .g-audio--playbutton:focus {
  outline: 3px solid #932f50;
  outline-offset: 1px;
}

#wrapper {
  position: fixed;
  bottom: 0px;
  height: 39px;
  width: 100%;
  background: #fff1e0;
  z-index: 7;
  box-shadow: 0 1px 20px rgba(0,0,0,0.3);
}

.g-audio.g-audio--initialized.g-audio--block {
  width: 100%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  bottom: -26px;

  .g-audio--playbutton {
    display: inline-block;
    padding: 5px;
  }

  .g-audio-content {
    width: calc(100% - 77px);
    height: 19px;
    display: inline-block;
    vertical-align: top;
    font-size: 0.9em;

    @include oGridRespondTo(S) {
      font-size: 1em;
    }
  }

  img {
    position: absolute;
    top: -52px;
    left: 0;
    width: 40px;
    margin-left: -15px;
    cursor: auto;

    &:hover {
      -webkit-animation: wiggle 0.5s infinite;
      -moz-animation: wiggle 0.5s infinite;
      animation: wiggle 0.5s infinite;
    }
  }
}

.g-audio.g-audio--initialized.g-audio--block.pause img {
  -webkit-animation: wiggle 0.5s infinite;
	-moz-animation: wiggle 0.5s infinite;
	animation: wiggle 0.5s infinite;
}

#annotation-wrapper {
  margin: 3em 0 3em 0;

  .annotation-separator {
    border-bottom: 1px solid getColor('pink-tint3');
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .annotation-container {
    padding: 1em;
    margin: 1em 0;
    box-sizing: border-box;
    position: relative;

    p {
      max-width: 425px;
      margin-left: auto;
      margin-right: auto;
    }

    p.lyric-quote {
      max-width: 700px;
      font-size: 1.5em;
      font-family: MetricWeb, sans-serif;
      text-align: center;
      font-weight: 500;
      letter-spacing: .005px;

      @include oGridRespondTo(S) {
        font-size: 1.8em;
      }
    }

    p.lyric-quote:before {
      content: "“";
      font-size: 2.5em;
      line-height: 0.1em;
      vertical-align: bottom;
      color: getColor('pink-tint4');
      font-family: FinancierDisplayWeb, Georgia, serif;
      font-weight: 600;

      @include oGridRespondTo(S) {
        font-size: 3em;
      }
    }

    p.lyric-quote:after {
      content: "”";
      font-size: 2.5em;
      line-height: 0.1em;
      vertical-align: bottom;
      color: getColor('pink-tint4');
      font-family: FinancierDisplayWeb, Georgia, serif;
      font-weight: 600;

      @include oGridRespondTo(S) {
        font-size: 3em;
      }
    }
  }

  .annotation-container--noaudio {
    p.lyric-quote {
      line-height: 1.2em;
    }

    p.lyric-quote:before,
    p.lyric-quote:after {
      line-height: 0;
    }
  }
}
