@import 'o-colors/main';
@import 'components/core/main';

@function getColor($args...) {
  @return oColorsGetPaletteColor($args...);
}

.g-audio.g-audio--initialized .g-audio--playbutton:before,
.g-audio.g-audio--initialized.pause .g-audio--playbutton:before {
  margin-top: 0;
  margin-bottom: 0.3em;
}

.g-audio.g-audio--initialized .g-audio--playbutton:focus {
  outline: 3px solid #932f50;
  outline-offset: 1px;
}

#annotation-wrapper {
  margin: 3em 0 3em 0;

  .annotation-separator {
    border-bottom: 1px solid getColor('pink-tint3');
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .annotation-container {
    padding: 1em;
    margin: 1em 0;
    box-sizing: border-box;
    position: relative;

    p {
      max-width: 425px;
      margin-left: auto;
      margin-right: auto;
    }

    p.lyric-quote {
      max-width: 700px;
      font-size: 1.8em;
      font-family: MetricWeb, sans-serif;
      text-align: center;
      font-weight: 500;
      letter-spacing: .005px;
    }

    p.lyric-quote:before {
      content: "“";
      font-size: 3em;
      line-height: 0.1em;
      vertical-align: bottom;
      color: getColor('pink-tint4');
      font-family: FinancierDisplayWeb, Georgia, serif;
      font-weight: 600;
    }

    p.lyric-quote:after {
      content: "”";
      font-size: 3em;
      line-height: 0.1em;
      vertical-align: bottom;
      color: getColor('pink-tint4');
      font-family: FinancierDisplayWeb, Georgia, serif;
      font-weight: 600;
    }
  }

  .annotation-container--noaudio {
    p.lyric-quote {
      line-height: 1.2em;
    }

    p.lyric-quote:before,
    p.lyric-quote:after {
      line-height: 0;
    }
  }
}
